USE [Estore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_OrderLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](80) NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[PaymentOption] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[ImagePath] [nvarchar](200) NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceHistory]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_PriceHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[ImagePath] [nvarchar](200) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseCaseLogs]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseCaseLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UseCaseName] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Actor] [nvarchar](max) NULL,
 CONSTRAINT [PK_UseCaseLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](60) NOT NULL,
	[Pass] [nvarchar](150) NOT NULL,
	[PID] [bigint] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUseCases]    Script Date: 7/2/2020 12:31:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUseCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
 CONSTRAINT [PK_UserUseCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200626134930_added_entities_and_configs', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200628154012_added_user_use_case_entity', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200629093803_added_entity_use_case_logs', N'3.1.5')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name]) VALUES (5, CAST(N'2020-07-01T22:00:10.6990982' AS DateTime2), NULL, 0, 1, NULL, N'Skateboards')
INSERT [dbo].[Categories] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name]) VALUES (6, CAST(N'2020-07-01T22:00:19.3154286' AS DateTime2), NULL, 0, 1, NULL, N'Snowboards')
INSERT [dbo].[Categories] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name]) VALUES (7, CAST(N'2020-07-01T22:00:27.0420730' AS DateTime2), NULL, 0, 1, NULL, N'Surfboards')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLines] ON 

INSERT [dbo].[OrderLines] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Quantity], [Price], [ProductId], [OrderId]) VALUES (10, CAST(N'2020-07-01T22:37:07.8283053' AS DateTime2), NULL, 0, 1, NULL, N'Santa Cruz Screaming Hand 8.0"', 3, CAST(320.00 AS Decimal(18, 2)), 14, 14)
INSERT [dbo].[OrderLines] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Quantity], [Price], [ProductId], [OrderId]) VALUES (11, CAST(N'2020-07-01T22:37:07.8283186' AS DateTime2), NULL, 0, 1, NULL, N'Element Nyjah Feathers', 2, CAST(190.00 AS Decimal(18, 2)), 15, 14)
INSERT [dbo].[OrderLines] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Quantity], [Price], [ProductId], [OrderId]) VALUES (12, CAST(N'2020-07-01T22:38:13.4749016' AS DateTime2), NULL, 0, 1, NULL, N'Autonomy Evelien 7.75"', 1, CAST(225.00 AS Decimal(18, 2)), 20, 15)
SET IDENTITY_INSERT [dbo].[OrderLines] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [Address], [OrderStatus], [PaymentOption]) VALUES (14, CAST(N'2020-07-01T22:37:07.4384792' AS DateTime2), NULL, 0, 1, NULL, 7, N'Address order 1', 0, 0)
INSERT [dbo].[Orders] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [Address], [OrderStatus], [PaymentOption]) VALUES (15, CAST(N'2020-07-01T22:38:13.3770306' AS DateTime2), NULL, 0, 1, NULL, 7, N'Address order 2', 0, 0)
INSERT [dbo].[Orders] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [Address], [OrderStatus], [PaymentOption]) VALUES (16, CAST(N'2020-07-01T22:39:03.1315118' AS DateTime2), NULL, 0, 1, NULL, 7, N'Address order 3', 0, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON 

INSERT [dbo].[Pictures] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [ImagePath], [ProductId]) VALUES (16, CAST(N'2020-07-01T22:08:22.7971414' AS DateTime2), NULL, 0, 1, NULL, N'1eb62ea1-fda6-43cc-96ef-5338f344dcb2.jpg', 13)
INSERT [dbo].[Pictures] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [ImagePath], [ProductId]) VALUES (17, CAST(N'2020-07-01T22:08:22.7971722' AS DateTime2), NULL, 0, 1, NULL, N'735895eb-b133-4190-ac1b-2018aa676d4b.jpg', 13)
INSERT [dbo].[Pictures] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [ImagePath], [ProductId]) VALUES (18, CAST(N'2020-07-01T22:09:59.0140691' AS DateTime2), NULL, 0, 1, NULL, N'db8e8380-a571-4709-9f6b-8cad9c60f780.jpg', 14)
SET IDENTITY_INSERT [dbo].[Pictures] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceHistory] ON 

INSERT [dbo].[PriceHistory] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Price], [ProductId]) VALUES (23, CAST(N'2020-07-01T22:08:22.9562921' AS DateTime2), NULL, 0, 1, NULL, CAST(250.00 AS Decimal(18, 2)), 13)
INSERT [dbo].[PriceHistory] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Price], [ProductId]) VALUES (24, CAST(N'2020-07-01T22:09:59.1126084' AS DateTime2), NULL, 0, 1, NULL, CAST(320.00 AS Decimal(18, 2)), 14)
INSERT [dbo].[PriceHistory] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Price], [ProductId]) VALUES (25, CAST(N'2020-07-01T22:10:45.6099464' AS DateTime2), NULL, 0, 1, NULL, CAST(190.00 AS Decimal(18, 2)), 15)
SET IDENTITY_INSERT [dbo].[PriceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Description], [ImagePath], [Stock], [CategoryId]) VALUES (13, CAST(N'2020-07-01T22:08:22.6330776' AS DateTime2), CAST(N'2020-07-02T00:26:48.4993167' AS DateTime2), 0, 1, NULL, N'Bacon Camo Green Deck', N'This pre-assembled complete features 52mm 101a Primitive brand wheels for quick acceleration and controllable grip, while simultaneously offering high end flat spot resistance to boot. ', N'a395a478-eb26-4876-b045-f8995b281eac.jpg', 35, 5)
INSERT [dbo].[Products] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Description], [ImagePath], [Stock], [CategoryId]) VALUES (14, CAST(N'2020-07-01T22:09:58.9454337' AS DateTime2), CAST(N'2020-07-01T23:58:59.3352936' AS DateTime2), 0, 1, NULL, N'Santa Cruz Screaming Hand 8.0"', N'Slay the skatepark or slap some curbs in style on the Santa Cruz Screaming Hand 8.0" orange & green skateboard complete.', N'23e58887-2e09-438f-9976-245789f19d48.jpg', 22, 5)
INSERT [dbo].[Products] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name], [Description], [ImagePath], [Stock], [CategoryId]) VALUES (15, CAST(N'2020-07-01T22:10:45.5670604' AS DateTime2), CAST(N'2020-07-02T00:22:13.4009547' AS DateTime2), 0, 1, NULL, N'Element Nyjah Feathers', N'Shred like pro skater Nyjah Huston with his pro model skateboard complete, the Nyjah Feathers 8.0" skateboard complete from Element.', N'fc02272e-4b1c-4df1-8e98-05e4b39fb0cd.jpg', 56, 5)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name]) VALUES (1, CAST(N'2020-06-26T15:55:34.0293052' AS DateTime2), CAST(N'2020-07-01T12:57:16.2543992' AS DateTime2), 0, 1, NULL, N'admin')
INSERT [dbo].[Roles] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [Name]) VALUES (2, CAST(N'2020-06-26T15:56:27.5629842' AS DateTime2), NULL, 0, 1, NULL, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UseCaseLogs] ON 

INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (292, CAST(N'2020-07-01T19:35:10.9621573' AS DateTime2), N'Creating user', N'{"FirstName":"John","LastName":"Smith","Email":"john@gmail.com","Pass":"john123","PID":2409998782832}', N'Anonymus')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (293, CAST(N'2020-07-01T19:37:09.5127495' AS DateTime2), N'Getting all users by search', N'{"Value":null,"PerPage":3,"Page":1}', N'john@gmail.com')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (294, CAST(N'2020-07-01T19:40:06.2644888' AS DateTime2), N'Getting products', N'{"Name":null,"Description":null,"CategoryId":0,"Stock":false,"PerPage":3,"Page":1}', N'john@gmail.com')
SET IDENTITY_INSERT [dbo].[UseCaseLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [FirstName], [LastName], [Email], [Pass], [PID], [RoleId]) VALUES (7, CAST(N'2020-07-01T21:35:17.6379678' AS DateTime2), NULL, 0, 1, NULL, N'John', N'Smith', N'john@gmail.com', N'john123', 2409998782832, 2)
INSERT [dbo].[Users] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [FirstName], [LastName], [Email], [Pass], [PID], [RoleId]) VALUES (8, CAST(N'2020-07-01T21:42:05.8133068' AS DateTime2), NULL, 0, 1, NULL, N'Dave', N'Williams', N'dave@gmail.com', N'dave123', 2409998727832, 1)
INSERT [dbo].[Users] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [FirstName], [LastName], [Email], [Pass], [PID], [RoleId]) VALUES (9, CAST(N'2020-07-01T21:42:37.9027457' AS DateTime2), NULL, 0, 1, NULL, N'Anna', N'Johnson', N'anna@gmail.com', N'anna123', 9009998727836, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUseCases] ON 

INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [UseCaseId]) VALUES (28, CAST(N'2020-07-01T21:35:18.1195235' AS DateTime2), NULL, 0, 1, NULL, 7, 13)
INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [UseCaseId]) VALUES (29, CAST(N'2020-07-01T21:35:18.1195567' AS DateTime2), NULL, 0, 1, NULL, 7, 17)
INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [IsActive], [DeletedAt], [UserId], [UseCaseId]) VALUES (30, CAST(N'2020-07-01T21:35:18.1195600' AS DateTime2), NULL, 0, 1, NULL, 7, 23)
GO
SET IDENTITY_INSERT [dbo].[UserUseCases] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PaymentOption]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_Pictures_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_Pictures_Products_ProductId]
GO
ALTER TABLE [dbo].[PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserUseCases]  WITH CHECK ADD  CONSTRAINT [FK_UserUseCases_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUseCases] CHECK CONSTRAINT [FK_UserUseCases_Users_UserId]
GO
